.header {
  /* display: flex;
  flex-direction: column;
  gap: 2rem; */
  height: 100%;
  text-shadow: 1px 1px 1px var(--mainBg), 1px 1px 10px var(--mainBg);
}

.name-row,
.firstname,
.lastname {
  display: flex;
  align-items: center;
  /* border: 3px solid red; */
}

.name-row {
  gap: 2rem;
}

.header-details {
  /* border: 2px solid red; */
  height: 100%;
  max-width: 385px;
  margin: 0rem 1rem;
}

.description-row {
  margin: -0.5rem 0;
  overflow: hidden;
}

.blurb-div {
  margin-top: 4rem;
}

.skills {
  overflow: hidden;
  /* margin: 2rem 5rem; */
  /* border: 3px solid green; */
  padding: 2rem 6rem;
}

.skill-item {
  margin: 1.5rem 0;
  font-weight: 200;
  cursor: pointer;
}

.highlight-skill {
  position: relative;
}

.highlight-skill::after {
  content: "";
  width: 4rem;
  height: 3px;
  position: absolute;
  left: -6rem;
  top: 45%;
  background: var(--mainColor);
  animation: growline 0.5s forwards;
  transform: scale(0);
  transform-origin: left;
}

@keyframes growline {
  100% {
    transform: scale(1);
  }
}

.links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0;
  overflow: hidden;
  /* gap: 2.5rem; */
}

.media-icon {
  font-size: 3rem;
  transition: 0.5s ease;
  color: gray;
}

.media-icon:hover {
  transform: translateY(-0.75rem);
  transition: 0.15s ease;
  color: var(--mainColor);
}

@media screen and (max-width: 1050px) {
  .header-details {
    max-width: fit-content;
    margin: 0;
  }

  .description-row {
    margin: 0rem;
  }

  .blurb-div {
    margin-top: 1rem;
  }
  .skills {
    display: flex;
    margin: 1rem 0;
    gap: 2.5rem;
  }

  .links {
    justify-content: flex-start;
    gap: 2rem;
    padding: 1rem 0rem;
  }

  .highlight-skill::after {
    width: 100%;
    position: absolute;
    left: 0;
    top: auto;
    bottom: -0.5rem;
  }
}

@media screen and (max-width: 450px) {
  .description-row {
    margin: 0rem;
  }

  .blurb-div {
    margin: 1.5rem 0;
  }

  .skill-item {
    margin: 0rem;
  }
}
