.app[data-theme="dark"] {
  --mainBg: var(--black);
  --mainColor: var(--white);
  --mainBgGradient: linear-gradient(to right, var(--mainBg), var(--darkgrey));
}

.app[data-theme="light"] {
  --mainBg: var(--white);
  --mainColor: var(--black);
  --mainBgGradient: linear-gradient(to right, var(--mainBg), var(--darkgrey));
}

.app {
  background: var(--mainBg);
  background: var(--mainBgGradient);
  font-family: var(--mainFont);
  color: var(--mainColor);
  transition: 0.25s ease;
  height: 100vh;
  overflow: hidden;
}

.app-content {
  /* border: 3px solid red; */
  max-width: 144rem;
  margin: 0 auto;
  position: relative;
  height: 100%;
  /* overflow: hidden; */
}

.app-row {
  display: flex;
  gap: 5rem;
  height: 100%;
}

.header-column {
  padding-left: var(--mainPaddingX);
  padding-top: var(--mainPaddingX);
}

.about-column {
  /* border: 2px solid red; */
  position: relative;
  padding-top: var(--mainPaddingX);
  padding-right: var(--mainPaddingX);
  overflow-y: auto;
  height: 100%;
  /* overflow-x: hidden; */
}

.about-column::-webkit-scrollbar {
  display: none;
}

@media screen and (max-width: 1050px) {
  .app-row {
    display: block;
    position: relative;
    top: 30rem;
  }
  .header-column {
    position: fixed;
    background: var(--mainBgGradient);
    z-index: 15;
    width: 100%;
    /* border: 3px solid red; */
    padding-left: 0rem;
    padding-right: 0rem;
    padding: var(--mainPaddingX);
    padding-bottom: 0rem;
    top: 0;
  }

  .about-column {
    /* position: relative; */
    /* top: 40rem; */
    padding-right: 0rem;
    padding-top: 0rem;
    padding: var(--mainPaddingX);
    background: var(--mainBgGradient);
    /* height: 100%; */
    /* overflow-y: auto; */
    /* display: none; */
  }
}
