.app[data-theme="dark"] {
  --mainBg: var(--black);
  --mainColor: var(--white);
  --secondaryColor: var(--mintGreen);
  --mainBgGradient: linear-gradient(to right, var(--mainBg), var(--darkgrey));
}

.app[data-theme="light"] {
  --mainBg: var(--white);
  --mainColor: var(--black);
  --secondaryColor: var(--mintGreen);
  --mainBgGradient: linear-gradient(to right, var(--mainBg), var(--darkgrey));
}

.app {
  /* background: var(--mainBg); */
  background: var(--mainBgGradient);
  font-family: var(--mainFont);
  color: var(--mainColor);
  transition: 0.25s ease;
  text-shadow: 1px 1px 1px var(--mainBg), 1px 1px 10px var(--mainBg);
  height: 100vh;
}

.app-content {
  /* border: 3px solid yellow; */
  max-width: 144rem;
  margin: 0 auto;
  position: relative;
  height: 100%;
}

.app-row {
  display: flex;
  height: 100%;
  gap: 17.5rem;
  background: var(--mainBgGradient);
}

.header-column {
  position: relative;
  height: 100%;
  /* border: 3px solid red; */
}

.about-column {
  height: 100%;
  overflow-y: auto;
}

.about-column::-webkit-scrollbar {
  display: none;
}

@media screen and (max-width: 1100px) {
  .app-row {
    display: block;
    position: relative;
    top: 40rem;
    padding-bottom: 40rem;
  }
  .header-column {
    position: fixed;
    background: var(--mainBgGradient);
    z-index: 15;
    width: 100%;
    /* border: 3px solid red; */
    padding: 0;
    top: 0;
  }

  .about-column {
    padding-right: 0rem;
    padding-top: 0rem;
    padding: var(--mainPaddingX);
    background: var(--mainBgGradient);
  }
}

@media screen and (max-width: 450px) {
  .app-row {
    top: 30rem;
    padding-bottom: 30rem;
  }
}
