.about-me-parent {
  padding: 2rem 3rem;
  min-width: 500px;
  /* overflow-y: auto;
  height: 100%; */
}

.about-me-div h5 {
  margin-bottom: 2rem;
}

.about-me-link {
  color: var(--mainColor);
  transition: 0.25s ease;
}

.about-me-link:hover {
  color: var(--mintgreen);
}

.about-me-h5:first-letter {
  float: left;
  font-size: 5em;
  line-height: 0.7em;
  padding-top: 0.02em;
}

.footer {
  font-size: 1.5rem;
  padding: 0rem 2rem;
  padding-bottom: 7rem;
  /* padding-top: 0rem; */
}

@media screen and (max-width: 1050px) {
  .about-me-parent {
    min-width: auto;
    padding: 1rem 0rem;
  }
}
